.nav{
    width: 100%;
    height: 85px;
    background-color: white;
    display: flex;
    position: fixed;
}
*{
    margin: 0px;
}
.nav .logo{

    width: 40%;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .line{
    width: 100%;
    height: 80px;
   font-size: 25px;
   color: deeppink;
   font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.links{
    width: 100%;
    height: 50px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(var(--txts, var(--color_14, color_14)));;
}


.body{
    background-image: url("https://static.wixstatic.com/media/00375d_3025ee6ff2264ccda46da6dd9a1cb4cb~mv2.jpg/v1/fill/w_1895,h_906,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/00375d_3025ee6ff2264ccda46da6dd9a1cb4cb~mv2.jpg");
   width:100%;
    height: 604px;
    background-size: cover;
    background-repeat: no-repeat;

}

.white{
    height: 50px;
    width: 100%;
    /* background-color: white; */
}
.sec2{
    height: 400px;
    width:100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.sec2 .pa1{
    height: 500px;
    width: 30%;
    color: black; 
    align-items: center;
}

.pa1 img{
height: 30px;
width: 30px;
}


.sec2 .pa2{
    height: 500px;
    width: 30%;
    color: rgb(77, 11, 11);
}


.pa2 img{
height: 30px;
width: 30px;
}

.sec3{
    height: 500px;
    width:100%;
    display: flex;
}

.part1{
    height: 500px;
    width: 40%;
    padding: 100px;
    
}

.part2{
    height: 500px;
    width: 60%;
    /* color: rgb(79, 14, 139); */
    background-image: url("https://static.wixstatic.com/media/00375d_1641634c39c34be68d4c93aced871914~mv2.jpg/v1/fill/w_948,h_753,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/00375d_1641634c39c34be68d4c93aced871914~mv2.jpg");
    background-size: 50% 500px;
}

.sec4{
        height: 500px;
        width:100%;
        display: flex;
    
}

.part3{
    height: 500px;
    width: 50%;
    background-image: url("https://static.wixstatic.com/media/00375d_4bc50d5724de412ba662016af98c5c69~mv2.png/v1/fill/w_948,h_803,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/00375d_4bc50d5724de412ba662016af98c5c69~mv2.png");
    background-size: 100% 500px;
    background-repeat: no-repeat;
   
}   

.part4{
    height: 500px;
    width: 50%;
    /* background-color: pink; */
    
    
}
.sup1{
    height:100px ;
    width: 100%;
    padding-top: 50px;
    /* background-color: aqua; */

}
 
.sup2{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    
}
.sub1{
    height: 400px;
    width: 50%;
    /* background-color: blue; */
    
}
    


.sub2{
    height: 400px;
    width: 50%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.sec5{
    height: 500px;
    width:100%;

    /* padding-left: 100px; */
   
}

.video{
    height:300px ;
    width: 80%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}
.vid1{
    height:300px ;
    width: 50%;
    /* background-color: pink; */
    
}
.vid2{
    height:300px ;
    width: 50%;
    /* background-color: skyblue; */
}

.sec6{
    height: 400px;
    width:100%;
    /* background-color:gray; */
    

    
}

.xy{
    height: 300px;
    width:80%;
    /* background-color:gray; */
    padding-left: 100px;
    display: flex;
    flex-direction: row;
}

.x{
    height: 200px;
    width: 50%;
    background-color: rgba(232, 227, 227, 0.7);
    text-align: center;
}
.y{
    height: 200px;
    width: 50%;
    background-color: rgba(232, 227, 227, 0.8);
    text-align: center;
}
.final{
    height: 300px;
    width: 80%;
    padding-left: 100px;
}




